.form {
    max-width: 500px;
    min-height: 400px;
    margin: 0 auto;
    .select-form {
        h2 {
            cursor: pointer;
            padding-bottom: 8px;
            border-bottom: 2px solid;
            border-color: transparent;
            transition: 0.3s all;
            &.active {
                border-color: #d96c2c;
            }
        }
    }

    .submit-btn {
        background: #d96c2c;
        padding: 10px 0;
        width: 100%;
        color: white;
    }

    a {
        color: #d96c2c;
        font-weight: 500;
        &:hover {
            color: #ad3f00;
        }
    }
}

.user {
    position: relative;
    .membership {
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
