@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #d96c2c;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.btn {
    background-color: white;
    color: #737373;
    padding: 10px 20px;
    transition: 0.3s all;
    white-space: nowrap;
}

.btn.btn-orange {
    background: var(--primary);
    color: white;
}

.btn-orange-hover:hover {
    background: white;
    color: var(--primary);
}

.btn.btn-white {
    background: white;
    color: var(--primary);
}

.btn-white-hover:hover {
    background: orange;
    color: white;
}
